.App {
  font-family: 'Baloo Tammudu 2', cursive;
  font-family: 'Ubuntu', sans-serif;
  background-color: #1A1A1A;
  min-height: 200vh;
  display: flex;
  flex-direction: row;
  color: white;
  position: relative;
}

