.Calender {
   margin: 20px;
   width: 60vw;
   display: grid;
   gap: 10px;
   background-color: #222222;
   padding-left: 70px;
   padding-top: 15px;
   grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
   grid-template-rows: 40px 120px 120px 120px 120px 120px 120px 120px;
   height: 81vh;
   border-radius: 10px;
   margin-right: 3vw;
 }
 .date {
   margin: 10px;
 }
 .Calender_row {
   display: flex;
 }
 .My_journey_title {
   
   font-size: large;
   font-weight: bolder;
   margin-left: 35px;
   margin-top: 35px;
 }
 .Sessions_table {
   margin-top: 20px;
   border-radius: 10px;
   margin-left: 0.0vw;
   height: 82vh;
   width: 30vw;
   background-color: #222222;
   overflow-y: scroll;
 }
 .Session_title {
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.835);
   font-weight: 400;
   font-size: 14px;
 }
 .empty_month {
   display: none;
   height: 20px;
 }
 .block:hover {
    border: 1px solid #9057f9;
 }
 .start {
   border-radius: 2px;
   margin-top: 15px;
   margin-left: 3px;
   width: 7px;
   height: 5vw;
   background-color: #8757f9;
 }
 .text_ {
   margin-top: 25px;
   margin-left: 0px;
   font-size: 10px;
 }
 .block {
   font-weight: bolder;
   align-items: flex-start;
   justify-content: flex-start;
   display: flex;
   flex-direction: column;
   background-color: #292929;
   border-radius: 20px;
   height: 120px;
 }
 .Session_name {
   justify-content: space-between;
   margin-left: 1vw;
   font-weight: 100;
   color: rgb(255, 240, 240);
   display: flex;
   flex-direction: row;
   font-size: 10px;
   font-weight: 400;
 }
 .date_status{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 90%;
 }
 .Status {
   margin-left: 5px;
   display: flex;
   flex-direction: row;
   align-items: center;
   color: rgba(0, 255, 0, 0.655);
   gap: 3px;
 }
 
 .incomplete {
   color: rgba(255, 17, 0, 0.655);
 }
 .progress {
   background-color: transparent;
   color: rgba(208, 255, 0, 0.655);
 }
 .card_row {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
 }
 .Month {
   margin-left: 15px;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 .Sessions_title {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin-left: 15px;
   align-items: center;
   margin-top: 20px;
   font-size: 20px;
 }
 .Session_date {
   font-size: 25px;
 }
 .solid {
   background-color: rgba(255, 255, 255, 0.147);
 }
 .current_ {
    border: 1px solid blueviolet;
 }
 .other {
   background-color: blueviolet;
 }
 .day_name {
   font-size: large;
   font-weight: 800;
   color: rgba(240, 248, 255, 0.695);
   align-items: center;
   justify-content: center;
   display: flex;
   height: 40px;
 }
 .btn {
   margin-top: 20px;
   padding-left: 50px;
   margin-bottom: 20px;
 }
 .btn-group {
   margin-left: 20px;
 }
 
 .button {
   font-weight: bold;
 }
 
 .dropdown-menu {
   font-weight: bold;
 }
 @media screen and (max-width: 1000px) {
   .Sessions_table {
     margin-top: 40px;
     margin-left: 0px;
     border-radius: 20px;
     height: 80vh;
     margin-bottom: 20px;
     width: 80vw;
     background-color: #222222;
   }
 
   .Calender_row {
     display: flex;
     flex-direction: column;
   }
   .text_ {
     margin-top: -10px;
     margin-left: 0px;
   }
   .Session_name {
     margin-top: 0px;
   }
   .block {
     border-radius: 16px;
   }
   .empty_month {
     display: none;
   }
   .day_name {
     display: none;
   }
   .Calender {
     height: 200vw;
     width: 85vw;
     display: grid;
 
     padding-left: 0px;
     gap: 10px;
     grid-template-columns: 18.5vw 18.5vw 18.5vw 18.5vw;
     grid-template-rows: 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw 18.5vw;
   }
 }
 @media screen and (min-width: 1400px) {
   .Session_name {
     font-size: 1vw;
     font-weight: 100;
   }
 }
 
 @media screen and (min-width: 1000px) {
   .start {
     height: 5vw;
   }
 }
 